[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".tmux/plugins/maglev"]
	path = .tmux/plugins/maglev
	url = git://github.com/caiogondim/maglev.git
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = git://github.com/tmux-plugins/tmux-battery.git
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = git://github.com/tmux-plugins/tmux-yank.git
[submodule ".tmux/plugins/tmux-copycat"]
	path = .tmux/plugins/tmux-copycat
	url = git://github.com/tmux-plugins/tmux-copycat.git
[submodule ".tmux/plugins/tmux-cpu"]
	path = .tmux/plugins/tmux-cpu
	url = git://github.com/tmux-plugins/tmux-cpu.git
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = git://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-open"]
	path = .tmux/plugins/tmux-open
	url = git://github.com/tmux-plugins/tmux-open.git
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = git://github.com/tmux-plugins/tmux-pain-control.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-scroll-copy-mode"]
	path = .tmux/plugins/tmux-scroll-copy-mode
	url = git://github.com/NHDaly/tmux-scroll-copy-mode.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
